html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionTitle {
    text-align: center;
}

.metarSection {
    border-radius: 10px;
    border: 0.25rem solid black;
    padding: 1rem;
    margin: 1rem;
}

.targetStations {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-left: 5rem;
}

.targetStationsUI {
    margin: 0 1rem;
}