.metarReport {
    border-radius: 10px;
    border: 0.25rem solid black;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: #99EEFF;
    display: flex;
    justify-content: space-between;
}

.metarLine1, .metarLine2 {
    display: flex;
    justify-content: space-between;
}

.metarReport h2 {
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
}

.metarLogo {
    height: 2rem;
    width: auto;
    margin: 0 0.25rem 0 0;
}