.tafReport {
    padding: 0.5rem 1rem;
    margin: 0.15rem;
    border: 0.25rem solid black;
    border-radius: 10px;
    background-color: blue;
    display: flex;
    flex-flow: column;
}

.tafReport h2 {
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    margin: 0.40rem;
    align-items: center;
    padding-right: 1rem;
}

.tafHeader {
    display: flex;
}

.forecastSection {
    display: flex;
    flex-flow: column;
}

.remarks {
    justify-content: center;
}

.forecastSection div {
    display: inline-flex;
}

.metarLogo {
    height: 2rem;
    width: auto;
    margin: 0 0.25rem 0 0;
}

.visibility {
    width: 6.18rem;
    justify-content: space-between;
}